[submodule "software/nrf52x-base"]
	path = software/nrf52x-base
	url = https://github.com/lab11/nrf52x-base.git
[submodule "software/libwebsockets"]
	path = software/libwebsockets
	url = https://libwebsockets.org/repo/libwebsockets
